@import "reset.css";
@import "typography.css";
@import "forms.css";

#top {
	width:auto;
	height:100px;
	padding:20px 20px 20px 45px;
	
    /* border: 1px solid silver; */
	}


#menu {
	width:119px;
	height:auto;
	margin:0px;
	padding:20px 10px 10px 10px;
	position:relative;
	float:left;
	border-top:1px dotted silver;


	 border:1px solid silver; 
	}

#obsah {
	width:auto;
	height:auto;
	margin:0px;
	padding:20px;
	position:relative;
	float:left;
	border-left:1px dotted silver;
	clear:both;
	
	/* border:1px solid silver;  */
        }

#footer {
	width:100%;
	height:42px;
	padding:10px 0 0 45px;
	margin:0px;
	background:url(../images/lay_podFoot.png) repeat-x;
	float:left;
	color:#999999;
	}
        
#infoSubjekt {
		width:300px;
        margin: 10px;   
		padding:20px;
		
        }        

#map_canvas {
        margin:20px 20px 20px 20px;    
		padding:15px 10px 10px 18px;
		
        }        


.podBox {
	width:382px;
	height:380px;
	background-image:url(../images/lay_podBox.png);
	background-repeat:no-repeat;
	background-position:center;

	float:left;
	margin:20px;

	border:1px solid white;

}

	
.container {width:950px;margin:0 auto;}
.pencils { background:url(../images/lay_tuzky.png) right bottom no-repeat;}

.dulezite { background-color:#FFCABD; padding:10px;  border:1px solid red; }
.info { background-color:#C6FFC6; padding:10px; border:1px solid green; }


/* odkazy */
a.dulezity { color:#FF0000; font-size:1.1em; font-weight:bold; }



/* tabulky */
table
	{
	font-size:0.9em;
	/*border:1px solid silver;*/
	border-collapse:collapse;
	}
	
	
th {
	background-color:#FF6600;
	color:#000000;
	font-weight:bold;
	padding:5px;
	}	
	
td {
	padding:8px;
	vertical-align:top;
	border:0px;
	}
	
td.title {
	border-right:2px solid silver;
	}


.btn_sipka { width:35px; height:35px; background:url(../images/but_vyhledej.png) right bottom no-repeat; border:none;}

